@page "/counter"


<PageTitle>Counter</PageTitle>

@*<h1 style="color: @AppSatate.Color; font-size : @AppSatate.Size ">Counter</h1>

<div style = "display:flex;">
    <div style="width: 100px">
        <select @bind="@AppSatate.Color" class = "form-control" style="margin-top: 15px" >
            <option value= "green">Verde</option>
            <option value= "red">Rojo</option>
        </select>
    </div>
    <select @bind="@AppSatate.Size">
        <option value = "12px">12px</option>
        <option value = "30px">30px</option>

    </select>
</div>*@

<p>Current count: @currentCount</p>

<p role="status">Current count: @singlenton.valor</p>

<p role="status">Current count: @Transistorio.valor</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="IncrementCountJS">Click me JS!</button>

